# Databases
*.db
*.sqlite
*.sqlite3
mti_assistant.db
mti_rag.db

# React & Node
node_modules/
frontend/node_modules/
frontend/dist/

# Python
.venv/
backend/venv/
__pycache__/
*.pyc

# Environment variables
.env
backend/.env

# Streamlit & IDE
.streamlit/secrets.toml
.vercel/
.DS_Store
Thumbs.db

